---
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";
import SEO from "@components/common/SEO.astro";
import { getLangFromUrl } from "../i18n/utils";
import LanguagePicker from "@components/common/LanguagePicker.astro";
import ThemeToggle from "@components/common/ThemeToggle.astro";
import Header from "@components/common/Header.astro";
const { seo } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
	<head>
		<script is:inline>
			function restoreTheme() {
				const isDark =
					localStorage.getItem("theme") === "dark" ||
					(!localStorage.getItem("theme") &&
						window.matchMedia("(prefers-color-scheme: dark)").matches);

				if (isDark) {
					document.documentElement.classList.add("dark");
				} else {
					document.documentElement.classList.remove("dark");
				}
			}
			restoreTheme();
			document.addEventListener("astro:after-swap", restoreTheme);
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="theme-color" content="#000000" />
		<meta
			name="google-site-verification"
			content="xfRUSl5UOWKRZzLfQJZsuTjcDHvXMGQ8EF9NKGsBOHk"
		/>
		<meta name="msvalidate.01" content="5AEF6BCE4CEF6158CB1ED3ADB128FD0D" />
		<SEO
			title={seo.title}
			description={seo.description}
			canonical={seo.canonical}
			ogTitle={seo.ogTitle}
			isArticle={seo.isArticle}
		/>
		<ClientRouter />
	</head>
	<body
		class="bg-white dark:bg-black selection:bg-black selection:text-white selection:dark:bg-white selection:dark:text-black w-11/12 m-auto transition duration-300"
	>
		<Header />
		<main class="text-black dark:text-white">
			<slot />
		</main>
	</body>
</html>
