---
import { ClientRouter } from "astro:transitions";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import SEOBase from "@components/Comun/SEOBase.astro";
import TexturaPapel from "@assets/textura_papel.png";
const backgroundImageUrl = `url(${TexturaPapel.src})`;
const { seo } = Astro.props;
---

<html lang="es">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<GoogleFontsOptimizer
			url="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<SEOBase
			titulo={seo.titulo}
			description={seo.description}
			canonical={seo.canonical}
			ogTitle={seo.ogTitle}
			isArticle={seo.isArticle}
		/>
		<ClientRouter />
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body><style is:global define:vars={{ backgroundImageUrl }}>
		:root {
			--font-titulos: "Literata", sans-serif;
			--font-textos: "Literata", sans-serif;
			--color-fondo: #fdf8ef;
		}
		html,
		body {
			height: 100vh;
			font-family: var(--font-textos);
			scroll-behavior: smooth;
			margin: 0;
			background: var(--backgroundImageUrl) repeat;
			color: #2d2b2b;
		}
		body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: var(--color-fondo);
		}
		main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex: 1;
		}
		h1,
		h2 {
			font-family: var(--font-titulos);
		}
		nav {
			font-family: var(--font-titulos);
		}
	</style>
</html>
